body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("./img/background.jpg");
    object-fit: cover;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#canvas{
    background-color: #ffffff;
    margin-bottom: 12px;
}
.options{
    background-color: rgb(27, 91, 121);
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#input-range{
    width: 100%;
}
#input-color{
    width: 100px;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        margin: auto;
        vertical-align: middle;
    }
    .options{
        width: 350px;
        margin: auto;
    }
}